{% extends 'booking/base.html' %}
{% block content %}
<section class="container">
    <div class="calendar-box">
    <h2>Data e Horário</h2>

    <form action="{% url 'calendario' %}" method="post">
        {% csrf_token %}
        <label>Escolha a Data</label>
        <input type="date" name="data" required>

        <h3>Horários Disponíveis</h3>
        <div class="times">
            <label class="time-btn"><input type="radio" name="hora" value="09:00" required> 09:00</label>
            <label class="time-btn"><input type="radio" name="hora" value="10:00"> 10:00</label>
            <label class="time-btn"><input type="radio" name="hora" value="11:00"> 11:00</label>
            <label class="time-btn"><input type="radio" name="hora" value="14:00"> 14:00</label>
            <label class="time-btn"><input type="radio" name="hora" value="15:00"> 15:00</label>
            <label class="time-btn"><input type="radio" name="hora" value="16:00"> 16:00</label>
        </div>

        <button class="btn-primary" type="submit">Continuar</button>
    </form>
    </div>
</section>
{% endblock %}
