{% extends 'booking/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Escolha a Data e o Horário</h2>

    <form method="POST">
        {% csrf_token %}

        <input type="date" name="data" value="{{ data_escolhida }}" required>

        <h3>Horários Disponíveis</h3>

        <div class="times">
            {% for h in horarios %}
                <label class="horario-btn">
                    <input type="radio" name="hora" value="{{ h.hora|time:'H:i' }}" required>
                    <span>{{ h.hora|time:"H:i" }}</span>
                </label>
            {% empty %}
                <p class="indisponivel">Nenhum horário disponível neste dia.</p>
            {% endfor %}
        </div>

        <button type="submit" class="btn-continuar">Continuar</button>
    </form>
</div>
{% endblock %}
