{% extends 'booking/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Escolha a Data e o Horário</h2>

    <form method="POST">
        {% csrf_token %}

        <input type="date" name="data">

        <h3>Horários Disponíveis</h3>

        <div class="times">
            {% for h in horarios %}
            <button type="submit" name="hora" value="{{ h.hora }}">
                {{ h.hora|time:"H:i" }}
            </button>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}
