{% extends 'booking/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Escolha o Serviço</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="services">
            {% for s in servicos %}
            <label class="service">
                <input type="radio" name="servico" value="{{ s.nome }}">
                {{ s.nome }} — R$ {{ s.preco }}
            </label>
            {% endfor %}
        </div>

        <button class="btn-primary">Continuar</button>
    </form>
</div>
{% endblock %}
